.intro-section {
  margin-bottom: 79px;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1920px 640px;
}

.intro-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 100px;
    bottom: 98px;
  }
}

.intro-section__benefits-wrapper {
  margin-right: 50px;
  max-width: 500px;
}

.intro-section__price-benefit {
  @include p-m-control(0, 145px);
  color: $simple-text;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
}

.intro-section__price-benefit--price-value {
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
  font-size: 55px;
}

.intro-section__benefits-list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: {
    left: -10px;
    right: -10px;
  }
  flex-wrap: wrap;
}

.intro-section__benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110px;
  min-width: 110px;
  min-height: 110px;
  margin: {
    right: 10px;
    bottom: 30px;
    left: 10px;
  }
  border: 1px solid $simple-bgc;
  border-radius: 50%;
  background-color: $benefit-bgc;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.intro-section__benefit-item--quality {
  &::before {
    width: 42px;
    height: 52px;
    margin: {
      top: -20px;
      bottom: 10px;
    }
    background-image: url("../img/quality.png");

    @include bg-retina {
      background-image: url("../img/quality@2x.png");
    }
  }
}

.intro-section__benefit-name {
  color: $simple-text-second;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}